.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}

.nav-list {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-list ul {
  height: 100%;
  display: flex;
  gap: 40px;
}

.nav-list ul li {
  display: flex;
  align-items: center;
  position: relative;
}

li::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(45deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  height: 4px;
  width: 100%;
  bottom: 0;
  opacity: 0;

  transition: 0.3s ease-in-out;
}

li:hover::after {
  opacity: 1;
}

.nav-list ul li a {
  color: hsl(233, 8%, 62%);
}

.nav-list ul li a:hover {
  color: hsl(233, 26%, 24%);
  transition: 0.3s ease-in-out;
}

.btn a {
  padding: 13px 30px 13px 30px;
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(0.25turn, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  font-size: 15px;
}

.btn a:hover {
  background: linear-gradient(0.25turn, rgba(49, 211, 92, 0.397)),
    hsla(192, 70%, 51%, 0.397);
  transition: 0.5s;
}

.menu-mob {
  display: none;
  cursor: pointer;
}

.bg-menu {
  box-shadow: 0px 150px 260px 1px rgb(56 59 72 / 50%);
}

@media (max-width: 1440px) {
  .header {
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media (max-width: 420px) {
  .menu-mob {
    display: flex;
  }

  .header {
    height: 60px;
    padding-left: 26px;
    padding-right: 26px;
  }

  .btn {
    display: none;
  }

  .nav-list ul.active {
    display: flex;
  }

  .nav-list ul {
    position: absolute;
    display: none;
    gap: 17px;
    flex-direction: column;
    align-items: center;
    top: 204px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: hsl(0, 0%, 100%);
    padding: 22px 0px 22px 0px;
    border-radius: 5px;
    font-size: 17px;
  }

  .nav-list ul li a {
    color: hsl(233, 26%, 24%);
    font-weight: 500;
  }
}
